
body {
    background-size: cover;
    background-position: center;
  }
  
  body,
  html {
    width: 100%;
    height: 100%;
    color: black;
    margin: 0;
    padding: 0;
  }


.topnav {
    background-color: #000000;
    overflow: hidden;
    font-family: "Lucida Console", "Courier New", monospace;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .hello {
    height: 110vh;
    width: 110vw;
    /* background-image: url("/Users/shuhongwu/Desktop/new website/images/bllack.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.titlename {
    font-size: 70px;
    font-family: "Poppins";

  }

  .titlename2 {
    font-size: 20px;
    font-family: "Poppins";
    margin-top: -50px;
    margin-left: 150px;

  }

  .titlename3 {
    font-size: 70px;
    font-family: "Poppins";

    margin-left: 400px;

  }

  .hello2 {
    height: 110vh;
    width: 110vw;
    /* background-image: url("/Users/shuhongwu/Desktop/new website/images/bllack.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-top: -100px;
}

.hello3 {
    height: 110vh;
    width: 110vw;
    /* background-image: url("/Users/shuhongwu/Desktop/new website/images/bllack.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-top: -100px;
}

.shu2 {
    margin-top: -500px;
    margin-left: 850px;
}
form {
    font-family: 'Poppins';
    color: white;
    width: 300px;
    height: 400px; 
    margin-left: 650px;
}
input[type="text"], input[type="password"] {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: #333; 
    
}

.li1 {
    right: 0;
    position: absolute;
}

.li2 {
    right: 80px;
    position: absolute;
}

body  {
    background-image: url("./images/bllack.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
